body {
    background-color: paleturquoise;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    font-family: Arial, sans-serif;
}

/* Style the navigation bar */
.navbar {
    width: 100%;
    background-color: crimson;
  }
  
  /* Navbar links */
  .navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 20px;
  }
  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    background-color: #000;
  }

  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 100;
    overflow: hidden;
  }
  
  /* Current/active navbar link */
  .active {
    background-color: #04AA6D;
  }
  